@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LEMONMILK';
  src: url('/LEMONMILK-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}